@CHARSET "UTF-8";

*{
}
#menuGridPane {
	-fx-padding: 50;
}

#menuGridPane * {
	-fx-font-size: 16;
}

#leftVBox>Rectangle, #centerVBox>Rectangle, #rightVBox>Rectangle {
	-fx-arc-width:5;
	-fx-arc-height:5;
	-fx-color: red;
}