@CHARSET "UTF-8";

*{
}
#menuGridPane {
	-fx-padding: 50;
}

#menuGridPane * {
	-fx-font-size: 16;
}

#leftVBox>Rectangle, #centerVBox>Rectangle, #rightVBox>Rectangle {
	-fx-arc-width:10;
	-fx-arc-height:10;
	-fx-stroke: black;
	-fx-stroke-type: inside;
	-fx-background-color: red;
}